<main id="guardar-cliente-section" class="guardar-cliente-main" >
    <div class="guardar-cliente-container">
        <div class="guardar-cliente-header">
            <h1>NUEVA VETERINARIA</h1>
        </div>
        <form class="cliente-form" (ngSubmit)="guardarVeterinaria()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre"  [(ngModel)]="veterinaria.nombre" required placeholder="Ingresa el nombre de la veterinaria">
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" name="direccion"  [(ngModel)]="veterinaria.direccion" required placeholder="Ingresa la direccion de la veterinaria">
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono"  [(ngModel)]="veterinaria.telefono" required placeholder="Ingresa el numero telefonico de la veterinaria">
            </div>
            @if (loading){
                <p class="loading">Guardando veterinaria....</p>
            }
            @if (mensaje){
                <p class="mensaje" [class.error]="esError"> {{mensaje}} </p>
            }

            <div class="botones-container">
                <button class="btn-guardar" type="submit" [disabled]="loading">
                    <i class="bi bi-check-lg"></i>Guardar Veterinaria
                </button>
                <button class="btn-cancelar" type="button" (click)="cancelar()" [disabled]="loading">
                    <i class="bi bi-x-lg"></i>Cancelar
                </button>
            </div>
            <div class="volver-container">
                <button class="btn-volver" (click)="volverInicio()" >
                    <i class="bi bi-arrow-left"></i> Volver
                </button>
            </div>
        </form>
    </div>
</main>


